@font-face {
  font-family: 'NotoSerifBold';
  src: local('NotoSerifBold'),
       url('../my_lib/fonts/NotoSerif-Bold.ttf') format("truetype");
}


.bookcard {
    display: flex;
    margin: 1vw;
    height: 30vh;
    max-height: 150px;
    width: 40vw;
    min-width: 300px;
    box-shadow: 10px 10px 5px rgba(93,166,104, 0.50);
    border-radius: 25px;
    font-size: 0.5vw;
    background-color: #5da668;
  }

  .card-title {
    font-size: 1vw;
  }

  .bg-light-red {
    background-color: #f26052;
  }

  .bg-light-green {
    background-color: #79d988;
  }

  .bg-dark-green {
    background-color: #5da668;
  }
  
  .bookcard-header {
    width: 33%;
    height: 100%;
    border-radius: 25px 0 0 25px;
  }
  
  .bookcard-body {
    width: 65%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    background-color: #5da668;
    z-index: 2;
    flex-shrink: 1;
  }
  
  .bookcard-panel-buttons {
    width: 5%;
    min-width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    background-color: #5da668;
    border-radius: 0 25px 25px 0;
    padding-right: 1rem;
  }
  
  .bookcard-panel-buttons:hover {
    width: 20%;
    transition: width 1s ease-in-out;
  }
  
  .addlist-button {
    border-radius: 50px;
    overflow: hidden;
    min-width: 20px;
    max-height: 25px;
    border: 1px solid #f2e9e9;
    background-color: #f2e9e9;
    color: #f26052;
    font-family: 'NotoSerifBold', 'Times New Roman', Times, serif;
  }
  
  .addlist-button:hover {
    background-color: #f26052;
    border: 1px solid #f2e9e9;
    cursor: pointer;
    color: #f2e9e9;
  }

/******************************************************/
/* Zoomed bookview */

.bookview-container {
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.bookview-title {
  text-align: center;
  height: 5%;
}

.bookview-author {
  height: 5%;
  color: #f2e9e9;
  text-align: center;
  margin-bottom: 2%;
}



.bookview-info-container {
  display: flex;
  height: 5%;
  justify-content: space-between;
}

.bookview-info-container div {
  margin: 0px 20px;
  text-align: center;
}

.bookview-synopsis {
  height: 40%;
  overflow: scroll;
  padding: 20px;
}

.bookview-comments {
  height: 40%;
  overflow: scroll;
  padding: 20px;
}


/*******************************************************/

/* Star rating component */
  
.stars-container {
  width: 20%;
  border-radius: 50px;
}
.stars {
  width: 30px;
}

.star-span {
  font-size: 1.2rem;
  cursor: pointer;
  color: #f2a341;
}

/*******************************************************/

/* Card's button */

.button-inner-card{
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid #f2e9e9;
  background-color: #f2e9e9;
  color: #f26052;
  font-family: 'NotoSerifBold', 'Times New Roman', Times, serif;
}

.button-inner-card:hover {
  background-color: #f26052;
  border: 1px solid #f2e9e9;
  cursor: pointer;
  color: #f2e9e9;
}


/*******************************************************/
/*******************************************************/
/*******************************************************/

/* Media queries */

@media screen and (max-width: 1007px) {
  .bookview-info-container {
    flex-wrap: wrap;
    height: 15%;
  }
}
  