.bookcard {
    display: flex;
    margin: 1vw;
    height: 30vh;
    max-height: 150px;
    width: 40vw;
    min-width: 300px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
    border-radius: 25px;
  }
  
  .bookcard-header {
    width: 33%;
    height: 100%;
    border-right: 1px solid black;
  }
  
  .bookcard-body {
    width: 65%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    background-color: red;
    z-index: 2;
    flex-shrink: 1;
  }
  
  .bookcard-panel-buttons {
    width: 5%;
    min-width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
  }
  
  .bookcard-panel-buttons:hover {
    width: 20%;
    transition: width 1s ease-in-out;
  }
  
  .addlist-button {
    height: 20%;
    border-radius: 50px;
    overflow: hidden;
  }

.bookview-container {
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.bookview-title {
  text-align: center;
  height: 5%;
}

.bookview-author {
  height: 5%;
  color: lightgray;
  text-align: center;
  margin-bottom: 2%;
}



.bookview-info-container {
  display: flex;
  height: 5%;
  justify-content: space-between;
}

.bookview-info-container div {
  margin: 0px 20px;
  text-align: center;
}

.bookview-synopsis {
  height: 40%;
  overflow: scroll;
  padding: 20px;
}

.bookview-comments {
  height: 40%;
  overflow: scroll;
  padding: 20px;
}
