

  /*
  span:hover {
    animation-name: grow-up;
    animation-duration: 0.5s;
  }
  
  @keyframes grow-up {
    0% {
      font-size: 2em;
    }
    50% {
      font-size: 2.5em;
    }
    100% {
      font-size: 2em;
    }
  }
*/