@font-face {
  font-family: 'SpaceGrotesk';
  src: local('SpaceGrotesk'),
       url('../my_lib/fonts/SpaceGrotesk-VariableFont_wght.ttf') format("truetype");
}

@font-face {
  font-family: 'NotoSerif';
  src: local('NotoSerif'),
       url('../my_lib/fonts/NotoSerif-Regular.ttf') format("truetype");
}


* {

  font-family: 'NotoSerif', 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.body {
  background-color: #79d988;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2e9e9;
  border-radius: 25px;
  margin: 1vh 0.7vw 1vh 0.7vw;
  height: 20vh;
  max-height: 100px;
}

.logo {
  height: 18vh;
  width: auto;
  fill: #5da668 !important;
}

.main-container  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2e9e9;
  border-radius: 25px;
  margin: 0 0.7vw 2vh 0.7vw;
  height: 77vh;
}

.title {
  font-family: 'SpaceGrotesk', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 1vw;
}

/*
.sub-container  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2e9e9;
  border-radius: 25px;
  margin: 0 0.7vw 2vh 0.7vw;
  height: 20vh;
}
*/


input {
  width: 70%;
  border: 1px solid #5da668;
  border-radius: 25px;
  background-color: transparent;
}

input:hover {
  background-color: rgba(121,217,136,0.25);
}

.card-header {
  height: 20%;
  background-color: #f26052;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0 0;
  color: #f2e9e9;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height:65%;
  height: 80vh;
}

.arrow {
  font-size: 5rem;
  transform: scale(0.6, 2.8);

  max-width: 10%;
  border: 0 solid transparent;
  background-color: transparent;
  color: rgba(242, 96, 82, 0.25);
}

.enabled-arrow {
  color: rgba(242, 96, 82, 1);
  cursor: pointer;
}


.card-inner-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 91%;
  flex-wrap: wrap;
  /* version mobile
  max-width: 75%;
  */
}

.zoomed-card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80vh;
  width: 50vw;
  overflow: scroll;
  background-color: rgba(93,166,104, 0.9);
  box-shadow: 0px 0px 5px 24px rgba(93,166,104,0.9);
    -webkit-box-shadow: 0px 0px 5px 24px rgba(93,166,104,0.9);
    -moz-box-shadow: 0px 0px 5px 24px rgba(93,166,104,0.9);
  border-radius: 5px;
  visibility: hidden;
  z-index: 1000;
}

.card-title {
  padding: 5px;
}

.button {
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #5da668;
  border-radius: 25px;
  background-color: #5da668;
  color: #f2e9e9;
}

.button:hover {
  background-color: #79d988;
  cursor: pointer;
}

/*******************************************************/

/**** Search cointainer ****/

#search-container {
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5vh 0;

}

#search-container input[type*="text"] {
  width: 40%;
}

.radio-container {
  display: flex;
  width: 30%;
  flex-flow: row nowrap;
}

.radio-container label {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  width: 50%;
  cursor: pointer;
  line-height: 2;
}
.option-input {
  clip: rect(0 0 0 0); 
  position: absolute; 
  width: 5vw;
}

.option-input + .checkmark {
  display: block;
}
.option-input:checked + .checkmark:before {
  box-shadow: 0 0 0 0.2em #5da668;
  background:  #f26052;
}
.option-input + .checkmark:before {
  content: '';
  width: 1vw;
  height: 1vw;
  border-radius: 1vw;
  display: inline-block;
  border: 0.125vw solid #fff;
  transition: 0.5s ease all;
  vertical-align: -0.25vw;
  box-shadow: 0 0 0 0.15vw #5da668;
  margin-right: 0.75vw;
}


/*******************************************************/

/* Results containers */

.results-container {
  display: flex;
}

/*******************************************************/

/* Navbars */

a {
  text-decoration: none;
  color:#5da668;
  padding: 5px;
  font-size: 2vmin;
}

.inner-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
}

.inner-nav-li {
  display: inline;
  cursor: pointer;
  padding-bottom: 10px;
}

.navbar {
  flex-grow: 0.6;
  max-width: 50vw;
  margin: 0 1%;
}

.inline-ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.link {
  cursor: pointer;
  padding: 5px;
}

.link:hover {
  background-color: #79d988;
  border-radius: 25px;
  color: #f2e9e9;
}

.link-active {
  background-color: #5da668;
  border-radius: 25px;
  color: #f26052;
}

.li-as-link {
  padding: 5px;
}

.li-as-link:hover {
  background-color: #f2e9e9;
  color:#5da668;
  border-radius: 25px;
}


/* Side Bar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f2e9e9;
  display: block;
  transition: 0.3s;
  text-align: center;
  margin: auto;
  width: 50%;
}

.sidenav .link:hover {
  color: #f2e9e9;
  border: 1px solid #5da668;
  background-color: #79d988;
  border-radius: 25px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burger {
  cursor:pointer;
  color: #5da668;
}

/*******************************************************/

/* Alert comment */


.alert {
  position: absolute;
  margin: 5px;
  box-sizing: border-box;
  width: 95%;
  border-radius: 25px;
  padding-left: 5px;
}

.alert-display {
  height: 5vh;
  transition: height 2s ease-in-out;
}


.alert-undisplay {
  height: 0;
  transition: height 2s ease-in-out;
}

.alert-primary {
  background-color: #79d988;
  box-shadow: 0px 20px 60px 10px rgba(121,217,136,0.75);
    -webkit-box-shadow: 0px 20px 60px 10px rgba(121,217,136,0.75);
    -moz-box-shadow: 0px 20px 60px 10px rgba(121,217,136,0.75);
}

.alert-danger {
  background-color: #f26052;
  color: #f2e9e9;
  box-shadow: 0px 20px 60px 10px rgba(242,96,82,0.75);
    -webkit-box-shadow: 0px 20px 60px 10px rgba(242,96,82,0.75);
    -moz-box-shadow: 0px 20px 60px 10px rgba(242,96,82, 0.75);

}


/*******************************************************/

/* Forms */

.forms {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}



/*******************************************************/
/*******************************************************/
/*******************************************************/

/* Media queries */


@media screen and (max-width: 1007px) {

  .card-inner-container {
    max-width: 75%;
  }

  /**** Search cointainer ****/

  #search-container {
    height: 30%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #search-container input[type*="text"] {
    width: 60%;
  }
  
  .radio-container {
    width: 60%;
    flex-flow: row wrap;
  }
  
  .radio-container label {
    width: 40%;
  }


  .navbar {
    flex-grow: 0.8;
    max-width: 80vw;
    margin: 0;
  }

  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
