{% extends "my_lib/layout.html" %}
{% load static %}

{% block body %}
    <div class="main-container" id="home-view">
        <div class="card-header"><h3 class="title">Welcome</h3></div>
        
        <div id="search-container">
            <label for="search-input">Search</label>
            <input type="text" id="search-input" name="search" />
            <button class="button" id="search-button">Search</button>
            <div class="radio-container">
                <label for="author-radio">
                    <input type="radio" class="option-input" id="author-radio" name="type" value="author" required />
                    <span class="checkmark">Author</span>
                </label>
                <label for="bookname-radio">
                    <input type="radio" class="option-input" id="bookname-radio" name="type" value="bookname" checked/>
                    <span class="checkmark">Bookname</span>
                </label>
            </div>
        </div>
        <div class="card-container" >
            <button class="arrow" id="search-left-arrow"><</button>
            <div class="results-container" id="search-results-container"></div>
            <div class="zoomed-card" id="book-sheet"></div>
            <button class="arrow" id="search-right-arrow">></button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'my_lib/main.js' %}" type="module"></script>
    <script src="{% static 'my_lib/index.js' %}" type="module"></script>
{% endblock %}