{% extends "my_lib/layout.html" %}
{% load static %}

{% block body %}
    <div class="" id="home-main-container">
        <form>
            <label for="search">Search</label>
            <input type="text" id="search" name="search" />
            <button id="home-search-button">Search</button>
            <label for="author">Author</label>
            <input type="radio" id="author" name="author" />
            <label for="bookname">Bookname</label>
            <input type="radio" id="bookname" name="name" />
        </form>
        <div id="home-container"></div>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'my_lib/main.js' %}"></script>
{% endblock %}