{% extends "my_lib/layout.html" %}
{% load static %}

{% block body %}
    <div class="card" id="books-main-container">
        <div class="card-header" id="books-header">
            <h2 class="card-title">My books</h2>
            <nav class="navbar">
                <ul class="inline-ul">
                    <li class="li-as-link" id="link-readings">
                        Readings
                        <img src="" alt=" 📖">
                    </li>
                    <li class="li-as-link" id="link-read">
                       Read
                       <img src="" alt=" ✔">
                    </li>
                    <li class="li-as-link" id="link-toread">
                        To read
                        <img src="" alt=" 📚">
                    </li>
                    <li class="li-as-link" id="link-stars">
                        5 stars
                        <img src="" alt=" 🏆">
                    </li>
                </ul>
            </nav>
        </div>
        <div class="card-container" id="books-body">
            <div class="arrow" id="library-left-arrow"><</div>
                <div class="card-inner-container" id="books-container"></div>
                <div class="zoomed-card" id="book-sheet"></div>
            <div class="arrow" id="library-right-arrow">></div>
        </div>
   </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'my_lib/main.js' %}"></script>
    <script type="module" src="{% static 'my_lib/library.js' %}"></script>
{% endblock %}